fastapi
uvicorn
requests
python-dotenv
pydantic
pydantic-settings
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
resend
jinja2
python-multipart
openai
langchain
langchain-openai
supabase
aiofiles
